<div class="mx-3 pt-5">
  <div class="container text-center border border-warning rounded-3 p-4 mt-4">
    <!-- <p class="text-white">
      Welcome to Club Elite, the ultimate destination for poker enthusiasts.
      Founded with a passion for the game, our club brings together players of
      all skill levels who share a love for strategy, competition, and the
      thrill of the game.
    </p>

    <p class="text-white">
      At Club Elite, we believe poker is more than just a card game—it's a test
      of skill, patience, and intuition. Whether you're a seasoned pro or a
      newcomer looking to learn, our club provides an exclusive environment
      where players can sharpen their skills, connect with like-minded
      individuals, and experience the true essence of poker.
    </p> -->

    <h2 class="title mt-5" style="color: goldenrod">Download Now</h2>
    <div class="d-flex justify-content-center row">
      <img
        class="col-3"
        src="../../assets/Main_download_btn_google.avif"
        alt=""
      />
      <img
        class="col-3"
        src="../../assets/Main_download_btn_appstore.avif"
        alt=""
      />
    </div>
  </div>
</div>
