<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Schedule </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/waitlist']"
            routerLinkActive="active"
          >
            Waitlist
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
