.card-header {
  font-weight: bold;
}
.text-primary {
  color: #007bff !important;
}
.accordion-button {
  background-color: goldenrod;
  color: #fff;
}
.accordion-button:not(.collapsed) {
  background-color: goldenrod;
}
.accordion-body {
  padding: 0;
}
.row {
  display: flex;
}

.col-6 {
  display: flex;
  flex-direction: column;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: fit-content; // fills available space
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: italic;
}
