<div class="mx-5 pt-5">
  <div align="center">
    <h1 class="title text-center text-warning py-5">Special Events</h1>
  </div>

  <div
    id="carouselExampleIndicators"
    class="carousel slide container border border-warning rounded-3"
    *ngIf="specialEvents"
  >
    <div class="carousel-indicators">
      <button
        *ngFor="let event of specialEvents; let i = index"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-current]="i === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        *ngFor="let event of specialEvents; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
      >
        <img
          [src]="event.image"
          class="d-block w-100"
          [alt]="event.event_name"
        />
        <div
          class="carousel-caption d-none d-md-block bg-dark bg-opacity-75 rounded-3"
        >
          <h3>{{ event.event_name }}</h3>
          <p>{{ event.event_description }}</p>
          <a
            *ngIf="event.is_live"
            class="badge bg-danger"
            target="_blank"
            [href]="event.url"
            >WATCH LIVE NOW</a
          >
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div *ngIf="!specialEvents" class="text-center text-warning">
    <h3>No special events available at the moment.</h3>
  </div>
</div>
