<div class="mx-5">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
  >
    <div class="col mb-3"></div>

    <div class="col mb-3 text-white">
      <h5>Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="mailto:contact@clubelite.ca" class="nav-link p-0 text-white"
            >Email: contact&#64;clubelite.ca</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="tel:6471155575" class="nav-link p-0 text-white"
            >Phone: +1 (647)-115-5575</a
          >
        </li>
      </ul>
    </div>

    <!-- <div class="col mb-3 text-white">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a [routerLink]="['/privacy-policy']" class="nav-link p-0 text-white"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div> -->
  </footer>
</div>
