<div class="mx-3 pt-5">
  <h1 class="title text-center text-goldenrod py-5">Customer Reviews</h1>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-indicators">
      <button
        *ngFor="let review of reviews; let i = index"
        type="button"
        [attr.data-bs-target]="'#carouselExample'"
        [attr.data-bs-slide-to]="i"
        [attr.hidden]="i === 0"
        [class.active]="i === 0"
        [attr.aria-label]="'Slide ' + (i + 1)"
        class="bg-goldenrod border-0"
      ></button>
    </div>
    <div
      class="carousel-inner container border border-warning rounded-3 my-4 px-5"
    >
      <div
        *ngFor="let review of reviews; let i = index"
        [class.carousel-item]="true"
        [class.active]="i === 0"
      >
        <div class="card p-5 bg-transparent text-white rounded-3">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ review.review }}</p>
              <footer class="blockquote-footer">
                {{ review.rating }} star by
                <cite title="Source Title" style="color: goldenrod">{{
                  review.name
                }}</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev rounded-circle"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon rounded-circle"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next rounded-circle"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon rounded-circle"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
