<div class="mx-5 mt-5">
  <h1 class="title text-center text-warning py-5">Join The Waitlist</h1>
  <div class="form-container my-5">
    <form [formGroup]="waitlistForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          id="firstName"
          formControlName="firstName"
          type="text"
          placeholder="Enter your first name"
        />
      </div>
      <div class="form-group">
        <label for="lastInitial">Last Initial</label>
        <input
          id="lastInitial"
          formControlName="lastInitial"
          type="text"
          maxlength="1"
          placeholder="Enter last initial"
        />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          id="phoneNumber"
          formControlName="phone"
          type="text"
          placeholder="Enter your phone number"
        />
      </div>
      <div class="form-group">
        <label>Select Game Type:</label>
        <div *ngFor="let game of todayGames" class="form-check">
          <input
            type="radio"
            class="form-check-input"
            [value]="game.type + ' ' + game.limit"
            formControlName="gameType"
            id="{{ 'gameType-' + game.type + '-' + game.limit }}"
          />
          <label
            class="form-check-label"
            [for]="'gameType-' + game.type + '-' + game.limit"
          >
            {{ game.type }} {{ game.limit }}
          </label>
        </div>
      </div>

      <div>
        <label>
          <input type="checkbox" formControlName="smsUpdates" />
          Send me SMS updates about my status on the waitlist
        </label>
      </div>
      <button class="btn" type="submit" [disabled]="waitlistForm.invalid">
        Join List
      </button>
    </form>

    <!-- Display error or verification message -->
    <div *ngIf="firstUserModal" class="error-message">
      <div>
        <h2>Phone Number Authentication</h2>

        <!-- Phone Number Input -->
        <div *ngIf="!verificationSent">
          <input
            class="form-control mb-2"
            [(ngModel)]="phoneNumber"
            placeholder="+1XXXXXXXXXX"
            disabled="true"
          />
          <button class="btn" (click)="sendOTP()">Send OTP</button>
          <div id="recaptcha-container"></div>
        </div>

        <!-- OTP Verification Modal -->
        <div *ngIf="verificationSent">
          <h3>Enter OTP</h3>
          <input
            class="form-control mb-2"
            [(ngModel)]="otpCode"
            placeholder="Enter OTP"
          />
          <button class="btn" (click)="verifyOTP()">Verify</button>
        </div>

        <p *ngIf="authMessage">{{ authMessage }}</p>
      </div>
    </div>
  </div>

  <div class="waitlist-container">
    <h3>$1/3 NLH Waitlist</h3>
    <p>✔️ indicates the player is checked in at the club</p>

    <!-- Display the waitlist data -->
    <ul *ngIf="waitlist.length > 0; else noData">
      <li *ngFor="let entry of waitlist">
        <span class="player-info">
          {{ entry.firstName }} {{ entry.lastInitial }} -
          {{ entry.phone }}
        </span>
        <span class="game-info" *ngIf="entry.gameType"
          >[{{ entry.gameType }}]</span
        >
        <!-- <span class="sms-info" *ngIf="entry.smsUpdates"
          >[SMS Updates Enabled]</span
        > -->
        <span class="status-info" *ngIf="entry.checkedIn">✔️</span>
      </li>
    </ul>

    <!-- Display when there is no data -->
    <ng-template #noData>
      <p>No players on the waitlist yet. Be the first to join!</p>
    </ng-template>
  </div>
</div>
