<div class="mx-5 pt-5">
  <div align="center">
    <h1 class="title mt-5">WELCOME TO CLUB ELITE</h1>
    <h4 class="text-white">Shuffle up and deal!</h4>
  </div>
  <div class="container text-center border border-warning rounded-3 p-5 mt-4">
    <p class="text-white">
      Welcome to Club Elite, the ultimate destination for poker enthusiasts.
      Founded with a passion for the game, our club brings together players of
      all skill levels who share a love for strategy, competition, and the
      thrill of the game.
    </p>

    <p class="text-white">
      At Club Elite, we believe poker is more than just a card game—it's a test
      of skill, patience, and intuition. Whether you're a seasoned pro or a
      newcomer looking to learn, our club provides an exclusive environment
      where players can sharpen their skills, connect with like-minded
      individuals, and experience the true essence of poker.
    </p>

    <h2 class="title mt-5" style="color: goldenrod">Download Now</h2>
    <div class="d-flex justify-content-center row">
      <img
        class="col-3"
        src="../../assets/Main_download_btn_google.avif"
        alt=""
      />
      <img
        class="col-3"
        src="../../assets/Main_download_btn_appstore.avif"
        alt=""
      />
    </div>
  </div>
  <!-- <div
    id="carouselExampleIndicators"
    class="carousel slide container border border-warning rounded-3"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/Poker-Club-001-1080.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/Poker-Club-002-1080-889x500.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/poker-club-offer-2b7to.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
</div>
